In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r'E:\data sets\data.csv')

In [3]:
data.head(4)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2314448.0,MX
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,516698.0,"AT, CH, DE"
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1220954.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
3,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,211394.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BE, BG..."

In [4]:
data.shape

(15860, 8)

In [5]:
data.describe()

        releaseYear  imdbAverageRating  imdbNumVotes
count  15848.000000       15135.000000  1.513500e+04
mean    2010.643362           6.491530  3.880644e+04
std       15.307278           1.059803  1.336447e+05
min     1913.000000           1.200000  5.000000e+00
25%     2008.000000           5.900000  4.270000e+02
50%     2016.000000           6.600000  2.094000e+03
75%     2019.000000           7.200000  1.515200e+04
max     2024.000000           9.500000  2.957474e+06

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15860 entries, 0 to 15859
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               15362 non-null  object
 1   type                15860 non-null  object
 2   genres              15713 non-null  object
 3   releaseYear         15848 non-null  float64
 4   imdbId              15180 non-null  object
 5   imdbAverageRating   15135 non-null  float64
 6   imdbNumVotes        15135 non-null  float64
 7   availableCountries  15860 non-null  object
dtypes: float64(3), object(5)
memory usage: 991.4+ KB

In [14]:
data.isnull()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
15855,True,False,False,True,True,True,True,False
15856,True,False,True,False,True,True,True,False
15857,True,False,True,False,True,True,True,False
15858,True,False,True,True,True,True,True,False
15859,False,False,False,False,False,False,False,False

In [16]:
data.isnull().sum()

title                 498
type                    0
genres                147
releaseYear            12
imdbId                680
imdbAverageRating     725
imdbNumVotes          725
availableCountries      0
dtype: int64

#count number of movies and tv shows

In [19]:
data['type'].value_counts()

type
movie    11249
tv        4611
Name: count, dtype: int64

In [23]:
data[(data['type']=='movie')& (data['releaseYear']==2010)]

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
891,The Last Airbender,movie,"Action, Adventure, Family",2010.0,tt0938283,4.0,176785.0,JP
1053,Shutter Island,movie,"Drama, Mystery, Thriller",2010.0,tt1130884,8.2,1500295.0,"AG, AR, AT, BB, BO, BR, BZ, CA, CH, CL, CO, CR..."
1151,Edge of Darkness,movie,"Action, Adventure, Drama",2010.0,tt1226273,6.6,100254.0,"AE, BH, DZ, EG, IQ, JO, KW, LB, LY, MA, OM, PS..."
1161,Harry Potter and the Deathly Hallows: Part 1,movie,"Adventure, Family, Fantasy",2010.0,tt0926084,7.7,613370.0,"AU, GB, GG, IE, JP"
1395,Jackass 3D,movie,"Action, Comedy, Documentary",2010.0,tt1116184,7.0,69273.0,PS
...,...,...,...,...,...,...,...,...
9267,Sacrifice,movie,Sci-Fi,2010.0,tt1521236,6.2,56.0,TW
9938,Anchor Baby,movie,"Drama, Thriller",2010.0,tt1666555,6.5,103.0,"AG, AL, AO, AT, AU, AZ, BA, BB, BE, BG, BM, BR..."
10523,DEAW #8 Stand Up Comedy Show,movie,Comedy,2010.0,NaN,NaN,NaN,TH
10593,Strawberry Night,movie,"Crime, Drama, Thriller",2010.0,tt1742675,6.6,79.0,JP
10623,Atashin'chi: The 3D Movie,movie,"Animation, Short",2010.0,tt1767311,6.4,40.0,KR

In [31]:
data['genres'].value_counts()

genres
Comedy                          1309
Drama                           1230
Comedy, Drama                    641
Drama, Romance                   539
Comedy, Drama, Romance           519
                                ...
Drama, Horror, Music               1
Animation, Biography, Comedy       1
Fantasy, Music                     1
Documentary, War, History          1
Reality, Family                    1
Name: count, Length: 726, dtype: int64

In [37]:
data[data['imdbAverageRating']>9]

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
66,The Godfather,movie,"Crime, Drama",1972.0,tt0068646,9.2,2061812.0,"AD, AE, AG, AL, AO, AR, AT, AU, BA, BB, BE, BG..."
71,The Shawshank Redemption,movie,Drama,1994.0,tt0111161,9.3,2957474.0,"AD, BA, BE, BG, CA, CV, CZ, ES, GQ, HR, HU, IN..."
11256,Avatar: The Last Airbender,tv,"Action, Adventure, Animation",2005.0,tt0417299,9.3,387785.0,"AD, AE, AG, AO, AR, AT, AU, BB, BE, BH, BM, BO..."
11283,Breaking Bad,tv,"Crime, Drama, Thriller",2008.0,tt0903747,9.5,2226333.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BE, BG..."
11293,Attack on Titan,tv,"Action, Adventure, Animation",2013.0,tt2560140,9.1,555799.0,"ES, FR, GF, HK, ID, IT, JP, KR, MY, PF, PH, PT..."
11355,Band of Brothers,tv,"Drama, History, War",2001.0,tt0185906,9.4,543731.0,"AR, BA, BB, BG, BM, BO, BR, BS, BZ, CL, CO, CR..."
11441,Sherlock,tv,"Crime, Drama, Mystery",2010.0,tt1475582,9.1,1022375.0,"AL, AO, AT, AZ, BA, BE, BG, BY, CH, CI, CM, CV..."
11499,Fullmetal Alchemist: Brotherhood,tv,"Action, Adventure, Animation",2009.0,tt1355642,9.1,207175.0,"BE, ES, FR, IT, JP, LU, MC, NL, PT, SM"
11726,Khawatir,tv,"Documentary, Family, Reality-TV",2005.0,tt3062514,9.1,4481.0,"AE, AG, AL, AO, AU, AZ, BA, BB, BG, BH, BM, BS..."
11801,The Chosen,tv,"Drama, History",2017.0,tt9471404,9.2,50848.0,"AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BG, BH..."
11922,Rick and Morty,tv,"Adventure, Animation, Comedy",2013.0,tt2861424,9.1,624650.0,"AE, AO, AT, AU, BH, CH, CI, CM, CV, CY, DE, DZ..."
12538,My Mister,tv,"Drama, Family",2018.0,tt7923710,9.1,10465.0,"AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BG, BH..."
12645,The Last Dance,tv,"Biography, Documentary, History",2020.0,tt8420184,9.1,158507.0,"AD, AE, AO, AR, AT, AU, AZ, BA, BB, BE, BG, BH..."
12842,Our Planet,tv,Documentary,2019.0,tt9253866,9.2,53123.0,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
13157,Old People's Home for 4 Year Olds,tv,Documentary,2019.0,tt11189258,9.1,192.0,AU
13691,Flavours of Romania,tv,Documentary,2017.0,tt13094256,9.3,754.0,"MD, RO"
15441,Eddie's Lil' Homies,tv,"Animation, Comedy, Family",2024.0,tt21361900,9.3,21.0,"AU, FJ, NZ"
15508,Shasha and Milo,tv,"Action, Animation, Comedy",2023.0,tt27179112,9.2,40.0,KR